.backLink {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
  height: 10px;
  width: 30px;
  color: aliceblue;
  background-color: rgb(11, 33, 33);
  padding: 6px;
  border-radius: 8px;
}

.backLink:hover {
  color: rgb(11, 33, 33);
  background-color: aliceblue;
  transition: background-color 0.5s ease;
}

.pageCont {
  margin-top: 100px;
}

.links {
  text-decoration: none;
  color: #333;
  margin-right: 10px;
  height: 10px;
  width: 30px;
  color: aliceblue;
  background-color: rgb(11, 33, 33);
  padding: 6px;
  border-radius: 8px;
}

.links:hover {
  transition: background-color 0.5s ease;
  color: rgb(11, 33, 33);
  background-color: aliceblue;
}
