.div {
  display: flex;
  margin-bottom: 20px;
}

.img {
  margin-top: 15px;
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.content {
  flex: 1;
}

h2 {
  margin-top: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
}

.list li:last-child {
  margin-bottom: 0;
}
