.reviewContainer {
  padding: 20px;
}

.reviewItem {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.reviewAuthor {
  font-weight: bold;
}

.reviewContent {
  display: block;
  margin-top: 10px;
}
